<%- include("partials/header2"); -%>
  <img src="<%= img %>" style="width: 50%; height: auto; min-height: 10%; position: relative; top: 50%;" />
  <h2
    style="font-family: CarMaxSharpSansDisp-Bold, Frutiger, 'Frutiger Linotype', Univers, Calibri, 'Gill Sans', 'Gill Sans MT', 'Myriad Pro', Myriad, 'DejaVu Sans Condensed', 'Liberation Sans', 'Nimbus Sans L', Tahoma, Geneva, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-style: normal; font-weight: 700; font-size: 2.5rem; line-height: 1.5; letter-spacing: .62px; color: #053361; margin: 0.375rem 0;">
    <%=title%>
  </h2>

  <p
    style="display: flex; flex-wrap: wrap; word-break: break-word; margin: 0 0 0.375rem; font-family: CarMaxSharpSansDisp-Bold,Frutiger,'Frutiger Linotype',Univers,Calibri,'Gill Sans','Gill Sans MT','Myriad Pro',Myriad,'DejaVu Sans Condensed','Liberation Sans','Nimbus Sans L',Tahoma,Geneva,'Helvetica Neue',Helvetica,Arial,sans-serif; font-style: normal; font-weight: 700; font-size: 1.5rem; line-height: 1.5; letter-spacing: .38px; color: #2a343d;">
    <%=content%>
  </p>

  <button type="button" class="btn btn-sm btn-outline-secondary border-2"
    onclick="location.href='/cars/${car._id}'">Main Page</button>


  <%- include('chat') %>