<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/carousel/carousel.css"
  />
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/carousel/carousel.thumbs.css"
  />
  <style>
    .slideshow-container {
    position: relative;
    }

    .slide {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    }

    .active {
    display: block;
    }
    #myCarousel {
      max-width: 640px;
      margin: 0 auto;
    }

    #myCarousel .f-carousel__slide {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .f-carousel {
        --f-button-width: 38px;
        --f-button-height: 38px;

        --f-button-svg-width: 16px;
        --f-button-svg-height: 16px;
        --f-button-svg-stroke-width: 2.5;

        --f-button-color: rgb(71 85 105);
        --f-button-border-radius: 50%;
        --f-button-shadow: 0 6px 12px -2px rgb(50 50 93 / 25%), 0 3px 7px -3px rgb(0 0
                0 / 30%);

        --f-button-bg: #fff;
        --f-button-hover-bg: #f9f9f9;
        --f-button-active-bg: #f0f0f0;
      }
  </style>
</head>


<%- include("partials/header2"); -%>

<h1><%=title%></h1>
<h3><%=content%></h3>
<h3><%=seats%></h3>
<h3><%=polling%></h3>
<h3><%=output%></h3>
<button type="button" class="btn btn-sm btn-outline-secondary" onclick="location.href='/'">Main Page</button>
<body>
  <div>
    <div class="f-carousel" id="myCarousel">
        <% for (let i = 0; i < images.length; i++) { %>
          <div
            class="f-carousel__slide"
            data-thumb-src=""
          >
            <img
              width="640"
              height="480"
              alt=""
              data-lazy-src=<%=images[i]%>
            />
          </div>
        <% } %>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/carousel/carousel.umd.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/carousel/carousel.thumbs.umd.js"></script>
  <script>
    const container = document.getElementById("myCarousel");
    const options = { Dots: false };

    new Carousel(container, options, { Thumbs });
  </script>
</body>
<%- include('chat') %>


