<link rel="stylesheet" href="/static/styles.css" />
<%- include("partials/header"); -%>
<section class="py-5 text-center container">
  <div class="col-lg-6 col-md-8 mx-auto">
    <div class="row py-lg-5">
      <h1 class="fw-light">AeroAutoHub</h1>
      <p class="lead text-body-secondary"> <%= startingContent %> </p>
    </div>
  </div>
  
</section>

<div class="album py-5 bg-body-tertiary">
  <div calss="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    
    </div>
  </div>
</div>
<script>
  let initialCars = <%- JSON.stringify(cars) %>;
  // console.log("initial cars are: ", initialCars);
</script>
<script src="/scroll.js"></script>


<%- include('chat') %>
<%- include("partials/footer"); -%>