<%- include("partials/header2"); -%>
<h2>Welcome <%=email%></h2>
<a class="btn btn-light btn-lg" href="/collections/<%=mainpgId%>" role="button">Your Collections</a>
<a class="btn btn-dark btn-lg" href="/secrets/<%=mainpgId%>" role="button">Main Page</a>
<hr>  

  <img 
  src="<%= img %>" 
  style="width: 50%; height: auto; min-height: 10%; position: relative; top: 50%;" 
  />
  <h1><%=title%></h1>
  <p><%=content%></p>
  <form action="/submit" method="POST">
    <input type="hidden" name="carId" value="<%=carId%>">
    <input type="hidden" name="userId" value="<%=mainpgId%>">
    <button type="submit" class="btn btn-dark">Like</button>
  </form>

  <!-- <form action="/delete" method="POST">
    <button type="submit" class="btn btn-dark">Delete</button>
  </form> -->

